@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a; /* Premium Dark Blue */
  --color-secondary: #25d366;
}

body {
  background-color: #e5e7eb;
  color: #171717;
  margin: 0;
  padding: 0;
}